{
    email info@onchip.ch
    servers {
        protocol {
            experimental_http3
        }
    }
}

:80 {
    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
    handle_path /api/* {
        reverse_proxy backend:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}

:443 {
    tls internal
    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
    handle_path /api/* {
        reverse_proxy backend:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}
