urbechov.ru, www.urbechov.ru, shop.urbechov.ru {
    handle /ws {
        reverse_proxy signaling:8080
    }

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle /media/* {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:3000
    }
}

urbela.ru, www.urbela.ru {
    reverse_proxy 192.168.1.07:80
    # or if server B runs https internally:
    # reverse_proxy https://192.168.1.50:443 {
    #     transport http {
    #         tls_insecure_skip_verify
    #     }
    # }
}

